#gamescreen
{
	padding: 0;
	margin-right: 8px;
	width: 0;
	float: left;
	
	background-color: #29333d;
	border-top-right-radius: 4px;
	
	transition: width 0.5s ease;
}

#gamescreen.collapsed
{
	//padding: 8px;
	width: 816px;
}

#gamescreen_inner
{
	height: 600px;
	border-radius: 4px;
	background-color: #ffffff;
	margin: 8px;
	
	box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
}