*
{
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
}

html
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 100%;
	font-family: "PT Sans", sans-serif;
}

body
{
	background-color: #0a0d0f;
	color: #c2ccd6;
	height: 100%;
	margin: 0;
}

a
{
	text-decoration: none;
	color: inherit;
}

:focus
{
	outline: none;
}

#page
{
	font-size: 0;
	overflow: hidden;
	padding-top: 72px;
	height: 100%;
}

.column
{
	height: 100%;
	padding: 8px;
	font-size: 12px;
}

.title
{
	margin: 0;
	padding: 8px;
	border-bottom: 1px solid #52667a;
	text-align: center;
}

.label
{
	display: inline;
	font-weight: bold;
	padding: 0 4px 4px 0;
}

.scroll
{
	overflow-y: auto;
}

.scroll::-webkit-scrollbar
{
	width: 10px;
}

.scroll::-webkit-scrollbar-track
{
	background: transparent;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background: #29333d;
	border: 1px solid #141a1f;
}