*
{
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
}

html
{
	height: 100%;
	font-family: "PT Sans", sans-serif;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body
{
	height: 100%;
	margin: 0;
	
	background-color: #0a0d0f;
}

:focus
{
	outline: none;
}

#page
{
	font-size: 0;
	overflow: hidden;
	padding-top: 72px;
	height: 100%;
}

.column
{
	height: 100%;
	padding: 8px;
	font-size: 12px;
}

.title
{
	margin: 0;
	padding: 0 8px 8px;
	border-bottom: 1px solid #52667a;
	text-align: center;
}