.nav {
	list-style: none;
	margin: 0px;
	padding: 0px;
	background-color: #C7C7C7;
}

.nav > li{
	text-align: center;
	display: inline-block;
	padding: 20px;
	border: 12px dashed red;
	border-radius: 10px;
	width:80px;
	cursor: pointer;
	margin: 0px;
}

#changeAlias{
	display: inline;
}

#container{
	padding: 10px;
	white-space: nowrap;

}

.column{
	display: inline-block;
	background: white;
	border: 1px solid black;
	height: 600px;
	
}

#left-column{
	width: 200px;
	overflow-y: auto;
	float: left;
}

.player{
	border: 1px solid black;
}

#right-column{
	width: 600px;
	position: relative;
}
#chatBox {
	position: absolute;
	width: 100%;
	bottom: 0px;
}
#chatBox div {
	overflow: hidden;
}

#chatSubmit {
	width: auto;
}

#chatInput{
	width: 100%;
}

#chatSubmitButton{
	float: right;
}

body{
	margin: 0px;
}