#nav
{
	background-color: #303038;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
	color: #c2ccd6;
	padding: 0.5rem 1rem;
	position: fixed;
	width: 100%;
}

#logo
{
	display: inline-block;
	font-size: 1.5rem;
	line-height: 2.5rem;
}

#nav_menu
{
	background-color: #101014;
	border-radius: 0.125rem;
	float: right;
	font-size: 0;
	height: 2rem;
	margin: 0.25rem 0;
	list-style: none;
	padding: 1px;
}

#nav_menu > li
{
	background-color: #303038;
	cursor: pointer;
	display: inline-block;
	font-size: 0.75rem;
	height: 100%;
	margin-right: 1px;
	padding: 0.5rem 0.75rem;
}

#nav_menu > li:first-child
{
	border-top-left-radius: 0.125rem;
	border-bottom-left-radius: 0.125rem;
}

#nav_menu > li:last-child
{
	border-top-right-radius: 0.125rem;
	border-bottom-right-radius: 0.125rem;
	margin-right: 0;
}