#players
{
	background-color: #29333d;
	border-top-right-radius: 4px;
	color: #c2ccd6;
	float: left;
	min-width: 12rem;
	transition: margin-left 0.5s ease;
	width: 20%;
}

#players.collapsed
{
	margin-left: -20%;
}

#players_container
{
	height: 60%;
	margin-top: -2rem;
	padding: calc(2rem + 8px) 0 0;
}

#players_inner
{
	background-color: #141a1f;
	border-radius: 4px;
	box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
	height: 100%;
	padding: 4px 4px 0;
}

#players_info
{
	height: 40%;
	padding: calc(2rem + 8px) 0 0;
	margin-top: -2rem;
}

#players_infocontent
{
	height: 100%;
	padding: 8px;
}

.player
{
	background-color: #1f262e;
	border-radius: 4px;
	box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
	line-height: 1rem;
	margin-bottom: 0.25rem;
	padding: 0.25rem 0.5rem;
}

.challengePlayer
{
	float: right;
	cursor: pointer;
	border: #c2ccd6 2px solid;
}